
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Noto Sans Display", sans-serif;
}


.slick-slide div {
    margin: 4px;
}

.slick-dots li button:before {
    color: #3761fa !important;
    font-size: 10px !important;
    margin-top: 30px !important;
}
